*,
*:before,
*:after{
  box-sizing:border-box;
}
html,body{
	margin:0;
	padding:0;
	height:100%;
}

body {
  background-color: #000;
  text-align: center;
  background-image: url('asset/stars.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

svg{
  width: 99%;
  height: 99%;
}
.sun {
  transform: rotate(10deg);
  transform-origin: center;
}
/*orbts line*/
.mercury-orbit {
  fill: none;
  stroke:#E6E6E6;
  stroke-width:2;
}
.venus-orbit {
  fill: none;
  stroke:#E6E6E6;
  stroke-width:2;
}
.earth-orbit {
  fill: url(#sunshine);
  stroke:#E6E6E6;
  stroke-width:2;
}
.mars-orbit {
  fill:none;
  stroke:#E6E6E6;
  stroke-width:2;
}
.jupiter-orbit {
  fill:none;
  stroke:#E6E6E6;
  stroke-width:2;
}
.saturn-orbit {
  fill:none;
  stroke:#E6E6E6;
  stroke-width:2;
}
.uranus-orbit {
  fill:none;
  stroke:#E6E6E6;
  stroke-width:2;
}
.neptune-orbit {
  fill:none;
  stroke:#E6E6E6;
  stroke-width:2;
}
.neptune-orbit:hover {
  fill: #fd0 !important;
}
/*planets*/
/*groups*/
.mercury-group {
  transform-origin: center;
  animation: mercury-group 46s linear infinite;
}
.mercury {
  transform-origin: center;
  animation: rotation-mercury 46s linear infinite;
  scale:1.2
}
.mercury-shadow {
  fill: url(#mercury-shadow);
}

.venus-group {
  transform-origin: center;
  animation: venus-group 62s linear infinite;
}
.venus {
  transform-origin: center;
  animation: rotation-venus 62s linear infinite;
}

.earth-group {
  transform-origin: center;
  animation: earth-group 76s linear infinite;
}
.earth-limit {
  fill: none;
}
.earth {
  transform-origin: center;
  animation: rotation-earth 76s linear infinite;
  scale:0.9
}
.moon-orbit {
  fill: none;
  stroke: #E6E6E6;
  stroke-width: 1;
}
.moon-group {
  transform-origin: center;
  animation: moon-group 24s linear infinite;
}
.moon {
  transform-origin: center;
  animation: rotation-moon 24s linear infinite;
}

.mars-group {
  transform-origin: center;
  animation: mars-group 98s linear infinite;
}
.mars {
  transform-origin: center;
  animation: rotation-mars 98s linear infinite;
}

.jupiter-group {
  transform-origin: center;
  animation: jupiter-group 105s linear infinite;
}
.jupiter {
  transform-origin: center;
  animation: rotation-jupiter 105s linear infinite;
  scale:1.4;
}

.saturn-group {
  transform-origin: center;
  animation: saturn-group 124s linear infinite;
}
.saturn {
  transform-origin: center;
  animation: rotation-saturn 124s linear infinite;
  scale:1.5
}
.saturn-ring1 {
  fill: none;
  stroke: #bf4c0d;
  stroke-width: 400;
  animation: rotation-saturn 124s linear infinite;
}
.saturn-ring2 {
  fill: none;
  stroke: #bf4c0d;
  stroke-width: 50;
  animation: rotation-saturn 124s linear infinite;
}

.uranus-group {
  transform-origin: center;
  animation: uranus-group 152s linear infinite;
}
.uranus {
  transform-origin: center;
  animation: rotation-uranus 152s linear infinite;
}

.neptune-group {
  transform-origin: center;
  animation: neptune-group 184s linear infinite;
}
.neptune {
  transform-origin: center;
  animation: rotation-neptune 184s linear infinite;
}

/* Animation */
@keyframes mercury-group {
  0% {
      transform: rotate(0deg) translate(1200px);
  }
  100% {
      transform: rotate(-360deg) translate(1200px);
  }
}
@keyframes rotation-mercury {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes venus-group {
  0% {
      transform: rotate(0deg) translate(2400px);
  }
  100% {
      transform: rotate(-360deg) translate(2400px);
  }
}
@keyframes rotation-venus {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes earth-group {
  0% {
      transform: rotate(0deg) translate(3700px);
  }
  100% {
      transform: rotate(-360deg) translate(3700px);
  }
}
@keyframes rotation-earth {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes moon-group {
  0% {
      transform: rotate(0deg) translate(700px);
  }
  100% {
      transform: rotate(-360deg) translate(700px);
  }
}

@keyframes rotation-moon {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}


@keyframes mars-group {
  0% {
      transform: rotate(0deg) translate(4900px);
  }
  100% {
      transform: rotate(-360deg) translate(4900px);
  }
}
@keyframes rotation-mars {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes jupiter-group {
  0% {
      transform: rotate(0deg) translate(6500px);
  }
  100% {
      transform: rotate(-360deg) translate(6500px);
  }
}
@keyframes rotation-jupiter {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes saturn-group {
  0% {
      transform: rotate(0deg) translate(9000px);
  }
  100% {
      transform: rotate(-360deg) translate(9000px);
  }
}
@keyframes rotation-saturn {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes uranus-group {
  0% {
      transform: rotate(0deg) translate(12000px);
  }
  100% {
      transform: rotate(-360deg) translate(12000px);
  }
}
@keyframes rotation-uranus {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes neptune-group {
  0% {
      transform: rotate(0deg) translate(14000px);
  }
  100% {
      transform: rotate(-360deg) translate(14000px);
  }
}
@keyframes rotation-neptune {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); /* Start with 0 scale for zoom-in effect */
  width: 500px;
  height: 500px; /* Default height */
  border-radius: 50%; /* Make it circular */
  color: white;
  padding: 30px 20px;
  opacity: 0; /* Start with hidden modal */
  visibility: hidden; /* Ensure modal is not interactive when hidden */
  transition: transform 0.4s ease, opacity 0.4s ease, visibility 0s 0.4s; /* Timing for the transition */
  font-family: 'Roboto', sans-serif; /* Modern, readable font */
  z-index: 2; /* Ensure it's on top of background */
}

/* Planet Background Styles */
.planet-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Ensure it's circular */
  background-size: contain; /* Ensures the background covers the entire overlay */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents repeating the background image */
  z-index: 1; /* Set behind the content */
}

/* Active class to show the overlay */
.overlay.active {
  transform: translate(-50%, -50%) scale(1); /* Zoom-in effect on showing */
  opacity: 1; /* Fade in */
  visibility: visible; /* Make modal interactive */
  transition: transform 0.4s ease, opacity 0.4s ease; /* Transition for active state */
}

.overlay h2, .overlay h3, .overlay #planet-details {
  position: relative;
  z-index: 2; /* Ensure text is above the background */
}


/* Title styles */
.overlay h2 {
  margin-top: 10px;
  font-size: 2em;
  font-weight: 600;
  color: #f4c542; /* Light golden color for the title */
  text-align: center;
  background-color: #5d4400a3;
  margin-bottom: 15px;
  width: 80%;
  margin: auto;
}

.overlay h3 {
  font-size: 1.4em;
  font-weight: 500;
  color: #bebebe;
  background-color: #00000091;
  padding: 10px;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 20px;
  width: 80%;
}

/* Details content styling */
.overlay #planet-details{
  font-size: 1.1em;
  line-height: 1.6;
  text-align: justify;
  color: #ddd;
  margin: auto;
  width: 80%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #00000091;
}

/* Close button styles */
.overlay .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  color: #5d4400;
  font-size: 30px;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.overlay .close-btn:hover {
  color: #ff4747; /* Change color on hover for a more interactive feel */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .overlay {
      padding: 25px 15px;
  }

  .overlay h2 {
      font-size: 1.6em;
  }

  .overlay .close-btn {
      font-size: 26px;
  }

  .overlay h3, .mjx-chtml {
      font-size: 1.3em;
  }
}

@media (max-width: 480px) {
  .overlay {
      width: 360px;
      height: 360px;
      padding: 20px 10px;
  }

  .overlay h2 {
      font-size: 1.4em;
  }

  .overlay .close-btn {
      font-size: 24px;
  }

  .overlay h3, .mjx-chtml {
      font-size: 1.2em;
  }
}

.planet {
  cursor: pointer;
}
